 .whiteBackground{
     background-color:white;
margin: 5% 8% 5% 8%; 
}
 .localVideo1{
    margin-top: 0vh;
    padding-top: 0vh;
    z-index: 0;

} 
.diVideo1{
    position: relative;
    height: 30vh;
    width: 20vw;
    background-color: white;
    margin-top: 1.5vh;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;

} 
.textBox{
    background-color:lightgrey;

}
.textBox:link {

    box-shadow: none !important;
}

.redButton{
    background-color:#B5000E;
    color:white;
    border: 1px solid #B5000E;
    margin: 10px;
    width: 8vw;
    
}
.redButton::after {
    content: "Save";
    }
    .redButton:hover::after {
     content: "Apply";
    }
.title{
    text-align: center;
    padding:1vw;
    font-weight: bold;
}
.videoNameInput{
    width:100%;
    background-color:lightgrey;
    border: none;
    margin:1vh
}

.whiteButton{
    background-color:white;
    color:#B5000E;
    border: 1px solid #B5000E;
    margin-top: 7%;
    width: 8vw;

}
.whiteButton::after {
    content: "Cancel";
    }
    .whiteButton:hover::after {
     content: "Upload New";

    }
.videoForm{
    text-align: center;
}